$primary: #7e84ff;
$primary-light: #a5a8fe;
$primary-dark: #5763c4;
$primary-dark-2: #3d4484;
$primary-dark-3: #1b1b27;
$green: #50b06c;
$dolby-io-gradient: linear-gradient(90deg, #3c4bf4 0%, #7340f5 100%);
