@import '../../../styles/colors.scss';

.media-selectors {
  display: flex;
  position: relative;
  align-items: center;
  &__icon {
    // width: 2rem;
    cursor: pointer;
    user-select: none;
    margin-right: 0.5rem;
    z-index: 11;
  }

  &__click-target {
    position: fixed;
    z-index: 9;
    // background-color: aquamarine;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }

  &__menu {
    position: absolute;
    z-index: 10;
    border: 1px solid #222230;
    border-radius: 4px;
    background-color: #222230;
    padding: 1rem;
    width: 22rem;
    bottom: 70px;
    right: -316px;
  }

  .media-dropdown {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }

    &.is-open {
      .Dropdown-control {
        border-radius: 10px 10px 0px 0px;
      }
    }

    .Dropdown-control {
      background-color: $primary-dark-3;
      color: white;
      padding: 5px 52px 5px 10px;
      border-radius: 10px;
    }

    .Dropdown-menu {
      background-color: $primary-dark-3;
      color: white;
      border-radius: 0px 0px 10px 10px;
    }

    .Dropdown-option {
      color: white;

      &:hover {
        background-color: $primary-dark;
      }

      &.is-selected {
        color: $primary-dark-3;
      }
    }
  }
  .link-copied-tooltip {
    background: #50b06c;
    border-radius: 2px;
    color: white;
    font-size: 12px;
    position: absolute;
    width: max-content;
    top: -25px;
    right: -11px;
    padding: 3px 6px;
    transition: opacity 0.5s;
    pointer-events: none;
  }
}
