@import '../../../styles/colors.scss';

.raise-hand-button {
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: $green;
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transform: translateX(-30%);

  &:hover {
    background-color: #226d38;
  }

  .hand-icon {
    margin-right: 10px;
  }

  // &.is-raised {
  //   background-color: gray;

  //   &:hover {
  //     background-color: white;
  //   }
  // }
}
