.audio-video-controls {
  position: absolute;
  bottom: 25px;
  left: 25px;
  display: flex;

  &__button {
    box-sizing: border-box;
    border-radius: 100%;
    padding: 0.25em;
    margin: 0.25rem;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    background-color: #7e84ff;

    &:hover {
      background-color: rgba(126, 132, 255, 0.7);
    }
    &.is-active {
      background-color: rgba(255, 255, 255, 0.1);

      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}
